html, body{
    width: 100%;
    height: 100%;
    background: #FFF;
    margin: 0px;
    overflow:hidden;
    position: absolute;
}

#link_list {
  position: relative;
  text-align: center;
}

a {
  background-color: #30d142
}
